.Card {
  padding: 20px;
  margin: 40px;

  border: 1px solid lightgrey;
} .Card:hover { /* when hovered over */
  border: 1px solid transparent;
  box-shadow: 0 5px 15px grey;
}

/* card that allows user to make a new team */
#createTeamCard:hover {
    cursor: pointer;
}

/* form not visible unless user hovers over card*/
#createTeamCard form {
    height:0;
    visibility: hidden;
} #createTeamCard:hover form {
    height:100%;
    visibility: visible;
}

.leftAndCenter {
    margin-right: -20%;
}
.editBtn {
    width: 20%;
    float: right;
    visibility: hidden;
}
.Card:hover .editBtn {
    visibility: visible; /* edit btn not visible until user hovers over card */
}
.shiftRight {
    margin-left: 20%;
}
