.Card {
  padding: 20px;

  border: 1px solid lightgrey;
  transition: .4s ease-in-out;
} .Card:hover { /* when hovered over */
  border: 1px solid transparent;
  box-shadow: 0 7px 25px -10px grey;
  transition: .2s ease-in-out;
}

/* form not visible unless user hovers over card*/
.showInnerElementOnHover form {
    visibility: hidden;
} .showInnerElementOnHover:hover form {
    visibility: visible;
}

.leftAndCenter {
    margin-right: -20%;
}
.editBtn {
    width: 20%;
    float: right;
    visibility: hidden;
}
.Card:hover .editBtn {
    visibility: visible; /* edit btn not visible until user hovers over card */
}
.shiftRight {
    margin-left: 20%;
}

.multiSelect {
    padding: 25px;
}

/* search input field and bar for individuals search */
.SearchInputAndBar{
    display: flex;
    width: 100%;
}
.searchInputContainer {
    margin-left: 15%;
    width: 80%;
}
.searchBtn {
    width: 20%;
    border-radius: 0;
}

.disabledBtn {
    margin-right: 10px;
    margin-left: 10px;

    padding: 12px;

    border-radius: 20px; 
    border: 3px lightgrey;
    color: black;
    background-color: lightgrey;
} .disabledBtn:hover {
    cursor: auto;
    border: 3px lightgrey;
    color: black;
    background-color: lightgrey;
}