:root {
  --lightblue: #A7BFD6;
  --navyblue: #2F4664;
}

body {
    margin: 40px;
}

h2 {
    font-size: xx-large;
    color: var(--navyblue);
}
h3 {
    font-size: x-large;
    color: var(--lightblue);
}

button {
    margin-right: 10px;
    margin-left: 10px;

    padding: 10px;

    border-radius: 20px; /* rounded corners */

    border: 3px solid var(--navyblue);
    color: var(--navyblue);
    background-color: transparent;
} button:hover {
    background-color: var(--navyblue); /* colors invert and fills button background */
    color: white;

    transition: .2s ease-in-out;

    cursor: pointer;
}

.Home{
  display: block;
  width: 100%;
}
.IndividualsList{
  display: flex;  /* flexbox layout */
  flex-wrap: wrap;

  justify-content: center;
  margin-bottom: 50px;
}

.IndividualCard {
  padding: 10px;
  margin: 20px;

  min-width: 200px;
  width: 25%;

  box-shadow: 0 5px 6px lightgrey;
} .IndividualCard:hover { /* when hovered over */
  /* grow larger with animation */
  transform: scale(1.05);
  box-shadow: 0 6px 12px grey;
  transition: .2s ease-in-out;
}
.nameAndPic { /* contain both name & pic */
  display: inline-block;
}
.nameAndPic > p { /* name only */
  float: right;
}
.profilePic { /* pic only */
  float: left;

  width: 40px;
  border-radius: 50%; /* circle */

  margin-right: 10px;
}

.inviteBtn {
    background-color: var(--lightblue);

    padding: 12px;
    border-radius: 20px;
    border: none;
} .inviteBtn:hover { /* when hovered over, change color*/
    background-color: var(--navyblue);
    color: white;
    cursor: pointer;
} .inviteBtn:active { /* when clicked */
    background-color: #131D2B;
    transition: background-color 0.5s ease-in-out;
}

/* colors will gradually fade in and out */
.colorFadeEffect:hover {
  transition: background-color 0.25s ease-in-out;
  /* transition: color 0.5s ease-in-out; */
}
