:root {
  --lightblue: #A7BFD6;
  --navyblue: #2F4664;
}

.Home{
  display: block;
  width: 100%;
}
.IndividualsList{
  display: flex;  /* flexbox layout */
  flex-wrap: wrap;

  justify-content: center;
}

.IndividualCard {
  padding: 10px;
  margin: 20px;

  min-width: 200px;
  width: 25%;

  box-shadow: 0 3px 10px grey;

} .IndividualCard:hover { /* when hovered over */
  /* grow larger with animation */
  transform: scale(1.1);
  transition: .1s ease-in-out;
}
.nameAndPic { /* contain both name & pic */
  display: inline-block;
}
.nameAndPic > p { /* name only */
  float: right;
}
.profilePic { /* pic only */
  float: left;

  width: 40px;
  border-radius: 50%; /* circle */

  margin-right: 10px;
}

.inviteBtn {
    background-color: var(--lightblue);

    padding: 10px;
    border-radius: 20px;
    border: none;
} .inviteBtn:hover { /* when hovered over, change color*/
    background-color: var(--navyblue);
    color: white;
    cursor: pointer;
} .inviteBtn:active { /* when clicked */
    background-color: #131D2B;
    transition: background-color 0.5s ease-in-out;
}

/* colors will gradually fade in and out */
.colorFadeEffect:hover {
  transition: background-color 0.25s ease-in-out;
  /* transition: color 0.5s ease-in-out; */
}
