.Login {
  display: flex;
  flex-direction: column;

  margin-top: 20vh; /* space from top of webpage to top of div element is 20% of viewport height*/
  align-items: center;
}

.signup-login-form {
  display: block; /* puts each div on separate line */
}

.signup-login-form > div, button {
  margin-bottom: 20px;
}
